@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");
/* Variables */
:root {
  --color-dark-blue: #e3dfeb;
  --color-light-blue: #510c74;
  --color-white: white;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

button,
input {
  cursor: pointer;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-dark-blue);
  color: var(--color-dark-blue);
  padding-top: 60px;
}

/* navbar */
.nav-bar {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-light-blue);
  color: var(--color-dark-blue);
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.sign-in {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--color-light-blue);
  border: 1px solid var(--color-dark-blue);
  background-color: var(--color-dark-blue);
  font-size: 15px;
  font-weight: 600;
}

.sign-out {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--color-light-blue);
  border: 1px solid var(--color-dark-blue);
  background-color: var(--color-dark-blue);
  font-size: 15px;
  font-weight: 600;
}

/* welcome page */
.welcome {
  padding: 30px;
  text-align: center;
  margin-top: 40px;
  color: var(--color-light-blue);
}
.welcome :is(h2, p, img) {
  margin-bottom: 20px;
}

/* chat component */
.messages-wrapper {
  padding: 30px;
  margin-bottom: 60px;
}
.chat-bubble {
  border-radius: 20px 20px 20px 0;
  padding: 15px;
  background-color: var(--color-light-blue);
  color: var(--color-dark-blue);
  width: max-content;
  max-width: calc(100% - 50px);
  box-shadow: -2px 2px 1px 1px --color-light-blue;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.chat-bubble.right {
  color: black;
  margin-left: auto;
  border-radius: 20px 20px 0 20px;
  background-color: var(--color-white);
  box-shadow: -2px 2px 1px 1px var(--color-light-blue);
}
.chat-bubble__left {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: var(--color-light-blue);
}
.user-message {
  word-break: break-all;
}
.message-time {
  display: block;
  text-align: right;
}

/* send message */
.send-message {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 20px 30px;
  background-color: var(--color-light-blue);
  display: flex;
}
.send-message > input {
  height: 40px;
  padding: 10px 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  flex-grow: 1;
  background-color: var(--color-white);
  color: var(--color-dark-blue);
  font-size: 1rem;
}
.send-message > input:placeholder {
  color: var(--color-white);
}
.send-message > :is(input, button):focus {
  outline: none;
  border-bottom: 1px solid var(--color-light-blue);
}
.send-message > button {
  width: 70px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  color: var(--color-light-blue);
  border: 1px solid var(--color-light-blue);
  background-color: var(--color-light-blue);
  font-weight: 600;
}